<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.keyss.keytools" >

    <!-- SD卡读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
